{% extends 'dashboard/dashboard-base.html' %}
{% block title %}
    Blog Categories
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h2>All Categories <span class="pull-right"><a href="{% url 'dashboard:add_blog_category' %}" class="btn btn-success">New Category</a></span></h2>
        <hr/>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Count</th>
                    <th>Create</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td class="{% if category.status == 'published' %}text-success{% else %}text-info{% endif %}">{{ category.status }}</td>
                        <td>32.3%</td>
                        <td>{{ category.create }}</td>
                        <td><a href="" class="btn btn-warning btn-sm">Edit</a> | <a href=""
                                                                                    class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}