{% extends 'base.html' %}
{% load static %}
{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="col-sm-9" id="blog-listing">
                {% include 'partials/_breadcrumb.html' %}

                <div class="box">

                    <h1>Blog category name</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum
                        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                        egestas
                        semper.</p>

                </div>
                {% for post in posts %}
                    <div class="post">
                        <h2><a href="{% url 'blog:blog_detail' post.id %}">{{ post.title | title }}</a></h2>
                        <p class="author-category">By <a href="#">{% if post.user.first_name and post.user.last_name is not null %}
                                   {{ post.user.first_name }} {{ post.user.last_name }}
                            {% else %}{{ post.user }}
                        {% endif %}</a> in <a
                                href="">{{ post.category | title}}</a>
                        </p>
                        <hr>
                        <p class="date-comments">
                            <a href="post.html"><i class="fa fa-calendar-o"></i> {{ post.create|date:"F j, Y"}}</a>
                            <a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                        </p>
                        <div class="image">
                            <a href="{% url 'blog:blog_detail' post.id %}">
                                <img src="{{ post.image.url }}" class="img-responsive" alt="{{ post.title }}">
                            </a>
                        </div>
                        <p class="intro">{{ post.description|truncatechars:300 }}</p>
                        <p class="read-more"><a href="{% url 'blog:blog_detail' post.id %}" class="btn btn-primary">Continue reading</a>
                        </p>
                    </div>
                {% endfor %}


                <ul class="pager">
                    <li class="previous"><a href="#">← Older</a>
                    </li>
                    <li class="next disabled"><a href="#">Newer →</a>
                    </li>
                </ul>

            </div>
            {% include 'blog/inc/right_sidebar.html' %}
        </div>
    </div>
{% endblock %}