{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
New Post
{% endblock %}
{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Reset" class="btn btn-warning btn-lg"/>
            <a href="{% url 'dashboard:posts_list' %}">
                <input type="submit" value="Cancel" class="btn-lg btn btn-default"/>
            </a>
            <input type="submit" value="Submit" class="btn btn-success btn-lg pull-right">
        </form>
    </div>
{% endblock %}
{% block scripts %}
{#    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=sbft8gzk15hrcaa4s4bw7j2zihshutzrslxxg11dnwyng5ae"></script>#}
{#    <script src="{% static 'dashboard/js/plugins/tinymce/js/tinymce/tinymce.min.js' %}"></script>#}
{#    <script>tinymce.init({ selector:'textarea' });</script>#}
{% endblock %}