{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block content %}
    <div class="container">

    <div class="col-md-12">
        {% include 'partials/_breadcrumb.html' %}
    </div>

        <div class="col-md-12">


            <div class="box" id="text-page">
                <h2>Images</h2>

                <div class="row">
                    <div class="col-md-4">
                        <p class="text-center">
                            <img src="{{ about_us_data.image_one.url }}" class="img-circle img-responsive" alt="">
                        </p>
                        <p class="text-center">circle</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center">
                            <img src="{{ about_us_data.image_two.url }}" class="img-thumbnail  img-responsive" alt="">
                        </p>
                        <p class="text-center">thumbnail</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center">
                            <img src="{{ about_us_data.image_three.url }}" class="img-rounded img-responsive" alt="">
                        </p>
                        <p class="text-center">rounded</p>
                    </div>
                </div>
                <h1>{{ about_us_data.title }}</h1>

                <p class="lead">{{ about_us_data.sub_title }}</p>

                <p>{{ about_us_data.description | safe }}</p>

                <hr>

            </div>
        </div>
    </div>
{% endblock %}