{% extends 'base.html' %}
{% load static %}
{% block title %}
    FAQ
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                {% include 'partials/_breadcrumb.html' %}
            </div>

            <div class="col-md-3">
                <!-- *** PAGES MENU ***
_________________________________________________________ -->
                {% include 'partials/_sidebar.html' %}

                <!-- *** PAGES MENU END *** -->


                <div class="banner">
                    <a href="#">
                        <img src="{% static 'img/banner.jpg' %}" alt="sales 2014" class="img-responsive">
                    </a>
                </div>
            </div>

            <div class="col-md-9">


                <div class="box" id="contact">
                    <h1>Frequently asked questions</h1>

                    <p class="lead">Are you curious about something? Do you have some kind of problem with our
                        products?</p>
                    <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="panel-group" id="accordion">
                        {% for faq in faqs %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq{{ faq.pk }}">
                                            {{ faq.question }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="faq{{ faq.pk }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ faq.answer }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel -->
                        {% endfor %}

                    </div>
                    <!-- /.panel-group -->


                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
{% endblock %}