<div id="advantages">

    <div class="container">
        <div class="same-height-row">

            {% for advantage in advantages %}
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa {{ advantage.icon }}"></i>
                        </div>

                        <h3><a href="#">{{ advantage.title|upper }}</a></h3>
                        <p>{{ advantage.description|capfirst }}</p>
                    </div>
                </div>
            {% endfor %}


{#            <div class="col-sm-4">#}
{#                <div class="box same-height clickable">#}
{#                    <div class="icon"><i class="fa fa-tags"></i>#}
{#                    </div>#}
{##}
{#                    <h3><a href="#">Best prices</a></h3>#}
{#                    <p>You can check that the height of the boxes adjust when longer text like this one is used in one#}
{#                        of them.</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-sm-4">#}
{#                <div class="box same-height clickable">#}
{#                    <div class="icon"><i class="fa fa-thumbs-up"></i>#}
{#                    </div>#}
{##}
{#                    <h3><a href="#">100% satisfaction guaranteed</a></h3>#}
{#                    <p>Free returns on everything for 3 months.</p>#}
{#                </div>#}
{#            </div>#}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /#advantages -->