<div id="advantages">

    <div class="container">
        <div class="same-height-row">

            {% for advantage in advantages %}
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa {{ advantage.icon }}"></i>
                        </div>

                        <h3><a href="#">{{ advantage.title|upper }}</a></h3>
                        <p>{{ advantage.description|capfirst }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /#advantages -->