<div class="box text-center" data-animate="fadeInUp">
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-uppercase">From our blog</h3>

            <p class="lead">What's new in the world of fashion? <a href="{% url 'blog:blog_list' %}">Check our blog!</a>
            </p>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12" data-animate="fadeInUp">

        <div id="blog-homepage" class="row">
            {% for post in posts %}

                <div class="col-sm-6">
                    <div class="post">
                        <h4><a href="{% url 'blog:blog_detail' post.id %}">{{ post.title | title }}</a></h4>
                        <p class="author-category">By <a href="#">
                            {% if post.user.first_name and post.user.last_name is not null %}
                                {{ post.user.first_name }} {{ post.user.last_name }}
                                {% else %}{{ post.user }}
                            {% endif %}</a> in <a href="">{{ post.category | title }}</a>
                        </p>
                        <hr>
                        <p class="intro">{{ post.description|truncatechars:300 }}</p>
                        <p class="read-more"><a href="{% url 'blog:blog_detail' post.id %}" class="btn btn-primary">Continue
                            reading</a>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /#blog-homepage -->
    </div>
</div>
<!-- /.container -->