{% load static %}
<div class="container" data-animate="fadeInUpBig">
    <div class="col-md-12">
        <div class="box slideshow">
            <h3>Get Inspired</h3>
            <p class="lead">Get the inspiration from our world class designers</p>
            <div id="get-inspired" class="owl-carousel owl-theme">

                {% for inspire in inspires %}
                    <div class="item">
                        <a href="#">
                            <img src="{{ inspire.image.url }}" alt="{{ inspire.name }}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>