{% load static %}
<div id="hot">
    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Hot this week</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product-slider">

            {% for product in products %}
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="{% url 'products:product_detail' product.id %}">
                                        <img src="{{ product.first_image.url }}" alt="{{ product.title }}"
                                             class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="{% url 'products:product_detail' product.id %}">
                                        <img src="{{ product.second_image.url }}" alt="{{ product.title }}"
                                             class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'products:product_detail' product.id %}" class="invisible">
                            <img src="{{ product.third_image.url }}" alt="{{ product.title }}" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="{% url 'products:product_detail' product.id %}">{{ product.title | title }}</a>
                            </h3>
                            <p class="price">${{ product.new_price }}</p>
                        </div>
                        <!-- /.text -->
                        {% include 'products/inc/ribbon.html' %}

                    </div>
                    <!-- /.product -->
                </div>
            {% endfor %}

        </div>
        <!-- /.product-slider -->
    </div>
    <!-- /.container -->

</div>
<!-- /#hot -->