{% load static %}
<div class="container">
    <div class="col-md-12">
        <div id="main-slider">
            <div class="item">
                <img  class="img-responsive" src="{% static 'img/main-slider1.jpg' %}" alt="">
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/main-slider2.jpg' %}" alt="">
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/main-slider3.jpg' %}" alt="">
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/main-slider4.jpg' %}" alt="">
            </div>
        </div>
        <!-- /#main-slider -->
    </div>
</div>
