{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title | title }}{% endblock %}
{% block content %}

    <div id="all">
        <div id="content">
            {# slider #}
            {% include 'partials/_slider.html' %}
            {# ADVANTAGES HOMEPAGE #}
            {% include 'partials/_advantages.html' %}
            {# ADVANTAGES END #}

            {#            HOT PRODUCT SLIDESHOW #}
            {% include 'partials/_hot_this_week.html' %}
            {#   HOT END#}

            {#            GET INSPIRED#}

            {% include 'partials/_get_inspired.html' %}
            {#GET INSPIRED END #}

            {# BLOG HOMEPAGE #}

            {% include 'partials/_from_our_blog.html' %}
            {#            BLOG HOMEPAGE END #}
        </div>
        <!-- /#content -->
    </div>
    <!-- /#all -->

{% endblock %}



