/*Inspire*/
.slider-header {
    position: absolute;
    z-index: 99999;
    color: #4fbfa8;
    font-size: 70px;
    background-color: #0000004d;
    padding: 10px 20px;
    bottom: 70px;
    left: 200px;
    max-width: 66%;
}

.inspire-header {
    position: absolute;
    z-index: 99999;
    color: #FFFFFF;
    font-size: 80px;
    top: 40px;
    left: 40px;
    background-color: #9996;
    padding: 10px 50px;
    max-width: 40%;
    text-align: left;
}

#content #blog-listing .post, #content #blog-homepage .post {
    margin-bottom: 60px;
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

div.product{
    min-height: 384px;
}