{% extends 'base.html' %}
{% block title %}
    Contact Us
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                {% include 'partials/_breadcrumb.html' %}
            </div>

            {% include 'contact/inc/sidebar.html' %}


            <div class="col-md-9">


                <div class="box" id="contact">
                    <h1>Contact</h1>

                    <p class="lead">Are you curious about something? Do you have some kind of problem with our
                        products?</p>
                    <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-map-marker"></i> Address</h3>
                            <p>{{ contactus.street }}
                                <br>{{ contactus.city }}
                                <br>{{ contactus.postcode }}
                                <br>{{ contactus.division }}
                                <br>
                                <strong>{{ contactus.country }}</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-phone"></i> Call center</h3>
                            <p class="text-muted">{{ contactus.call_center_info }}</p>
                            <p><strong>{{ contactus.call_center_phone }}</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                            <p class="text-muted">{{ contactus.electronic_support }}</p>
                            <ul>
                                <li><strong><a href="mailto:{{ contactus.electronic_email }}">{{ contactus.electronic_email }}</a></strong>
                                </li>
                                <li><strong><a href="{{ contactus.electronic_ticket_link }}">Ticketio</a></strong> - {{ contactus.electronic_ticket }}</li>
                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->

                    <hr>

                    <div id="map">

                    </div>

                    <hr>
                    <h2>Contact Form</h2>
                    {% include 'contact/inc/contact_form.html' %}

                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
{% block scripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    <script>
        {{ contactus.map_snippet | safe }}
    </script>
{% endblock %}