{% for product in products %}
<div class="col-md-3 col-sm-6">
    <div class="product same-height" style="height: 380px;">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <a href="{% url 'products:product_detail' product.id %}">
                        <img src="{{ product.first_image.url }}" alt="{{ product.title }}" class="img-responsive">
                    </a>
                </div>
                <div class="back">
                    <a href="{% url 'products:product_detail' product.id %}">
                        <img src="{{ product.third_image.url }}" alt="{{ product.title }}" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        <a href="{% url 'products:product_detail' product.id %}" class="invisible">
            <img src="{{ product.third_image.url }}" alt="" class="img-responsive">
        </a>
        <div class="text">
            <h3>{{ product.title|title }}</h3>
            <p class="price">${{ product.new_price }}</p>
        </div>
    </div>
    <!-- /.product -->
</div>
{% endfor %}